.contact-us {
  position: relative;

  @include mobile-above {
    padding: 60px 100px 80px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-large);

  }

  &::after {
    --contactUsImageOffetY: 62px;

    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - var(--container-padding-x));
    translate: -50% -50%;
    height: calc(100% - var(--contactUsImageOffetY) * 2);
    aspect-ratio: 1;
    background: url('/images/contact-us-image.svg') center/contain no-repeat;

    @include tablet {
      display: none;
    }
  }
  

  &__form,
  &__body {
    display: flex; 
    flex-direction: column;
  }

  &__request-types,
  &__body {
    @include mobile {
      background-color: var(--color-gray);
    }
  }

  &__request-types {
    @include mobile {
      display: flex;
      column-gap: 60px;
      justify-content: center;

      padding: 40px 52px 36px;
      border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    }
  }
  
  &__form {

    @include tablet-above {
      max-width: 556px;
    }

    @include mobile-above {
      row-gap: 40px;
    }
  }

  &__body {
    row-gap: 25px;

    @include mobile { 
      margin-bottom: 30px;
      row-gap: 20px;
      padding: 10px 30px 50px;
      border-radius: 
      0 0
      var(--border-radius-large) var(--border-radius-large);
    }
  }
}